
.nav-link {
    position: relative;
    transition: 0.4s;
    justify-content: center;
   
  }
  .nav-link::after {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:0%;
    height:2px;
    padding-bottom:2px;
    margin-bottom: -5px;
    background: white;
    transition: 0.4s;
    justify-content: center;
    
  }
  
  .nav-link:hover {
    color: linear-gradient(#7461fec1,rgba(42, 149, 255, 0.583))!important;
  }
  .nav-link:hover.nav-link::after {
    width: 100%;
  }

/* .....Input design..... */
.hamburger {
  cursor: pointer;
}


.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(218, 186, 7);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
} 


