.piedouble{
    background-color: #14532d;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    /* box-shadow: rgba(1, 94, 21, 0.527) 2px 5px 10px ,rgba(1, 94, 21, 0.527) -5px 0px 20px; */
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    /* background: linear-gradient(to right, rgb(#e2b072fd), rgb(4, 34, 111)); */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.brushbr{
    background-color: #14532d;
    border-radius: 15px;
    /* box-shadow: rgba(1, 94, 21, 0.527) 2px 5px 10px ,rgba(1, 94, 21, 0.527) -5px 0px 20px; */
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background:#14532d;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}